<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Macpain_Leetchi>
            <version>0.1.0</version>
        </Macpain_Leetchi>
    </modules>
    <frontend>
        <routers>
            <leetchi>
                <use>standard</use>
                <args>
                    <module>Macpain_Leetchi</module>
                    <frontName>leetchi</frontName>
                </args>
            </leetchi>
        </routers>
        <layout>
            <updates>
                <leetchi>
                    <file>macpain_leetchi.xml</file>
                </leetchi>
            </updates>
        </layout>
        <translate>
            <modules>
                <Macpain_Leetchi>
                    <files>
                        <default>Macpain_Leetchi.csv</default>
                    </files>
                </Macpain_Leetchi>
            </modules>
        </translate>
    </frontend>
    <global>
        <models>
            <macpain_leetchi>
                <class>Macpain_Leetchi_Model</class>
            </macpain_leetchi>
            <macpain_leetchi_mysql4>
                <class>Macpain_Leetchi_Model_Mysql4</class>
                <entities></entities>
            </macpain_leetchi_mysql4>
        </models>
        <helpers>
            <macpain_leetchi>
                <class>Macpain_Leetchi_Helper</class>
            </macpain_leetchi>
        </helpers>
        <blocks>
            <macpain_leetchi>
                <class>Macpain_Leetchi_Block</class>
            </macpain_leetchi>
        </blocks>
        <resources>
            <macpain_leetchi_setup>
                <setup>
                    <module>Macpain_Leetchi</module>
                    <class>Macpain_Leetchi_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </macpain_leetchi_setup>
        </resources>
    </global>
    <default>
    	<payment>
    		<leetchi>
                <model>macpain_leetchi/method_leetchi</model>
                <order_status>new</order_status>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
    			<active>0</active>
    			<test>1</test>
    			<test_url>https://www-preprod.leetchi.com/Payment</test_url>
    			<prod_url>https://www.leetchi.com/Payment</prod_url>
	    		<title>Leetchi payment method</title>
	    		<merchant_id></merchant_id>
	    		<api_pwd></api_pwd>
	    		<merchant_email></merchant_email>
	    		<statusurl>leetchi/leetchi/status</statusurl>
	    		<returnurl>checkout/onepage/success</returnurl>
	    		<cancelurl>leetchi/leetchi/cancel</cancelurl>
	    		<redirect_js>https://www.leetchi.com/Payment/MerchantFrame.js</redirect_js>
	    		<redirect_css>https://www.leetchi.com/Payment/MerchantFrame.css</redirect_css>
	    		<payment_description>Your payment description</payment_description>
    		</leetchi>
    	</payment>
    </default>
</config>
