<?xml version="1.0"?>
<config>
    <sections>
        <payment>
            <groups>
                <leetchi translate="label" module="macpain_leetchi">
                    <label>Leetchi</label>
                    <sort_order>666</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <comment><![CDATA[<br /><b>IMPORTANT!</b> - <i style="color:red">In order to complete this configuration you have to contact <a href="http://leetchi.com" target="_blank">www.leetchi.com</a></i><br /><br />]]></comment>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Activate this payment method</comment>
                        </active>
                        <test translate="label">
                            <label>Activate test mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>If activated test url will be used for payment process</comment>
                        </test>
                        <test_url translate="label">
                            <label>Leetchi test url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>This information should be provided by leetchi.com</comment>
                        </test_url>
                        <prod_url translate="label">
                            <label>Leetchi production url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>This information should be provided by leetchi.com</comment>
                        </prod_url>
                        <order_status translate="label">
                            <label>New order status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status_new</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Order status</comment>
                        </order_status>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Payment method title visible on checkout page</comment>
                        </title>
                        <merchant_id translate="label">
                            <label>Merchant ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>This information should be provided by leetchi.com</comment>
                        </merchant_id>
                        <api_pwd translate="label">
                            <label>API password</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>This information should be provided by leetchi.com</comment>
                        </api_pwd>
                        <merchant_email translate="label">
                            <label>Merchant email</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>This information should be provided by leetchi.com</comment>
                        </merchant_email>
                        <statusurl>
                            <label>Status url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Back process url to validate leetchi.com response information</comment>
                        </statusurl>
                        <returnurl>
                            <label>Return url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Customer will return to this url after payment on leetchi.com</comment>
                        </returnurl>
                        <cancelurl>
                            <label>Cancel url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Cancel order url</comment>
                        </cancelurl>
                        <redirect_js>
                            <label>Redirect form javascript url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>This information should be provided by leetchi.com</comment>
                        </redirect_js>
                        <redirect_css>
                            <label>Redirect form css url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>This information should be provided by leetchi.com</comment>
                        </redirect_css>
                        <payment_description>
                            <label>Checkout page payment description</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Payment method description visible on checkout page</comment>
                        </payment_description>
                    </fields>
                </leetchi>
            </groups>
        </payment>
    </sections>
</config>